@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf");
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham.otf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --font-inter: "Inter", sans-serif;
  --font-gotham: "Gotham", sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-inter);
    @apply bg-gray-50 text-[var(--color-black)] text-[1em];
  }
}

@layer components {
  .sidebar {
    @apply !bg-sky-700 !border-rose-600 !ring-0 !outline-0  px-2.5;
  }
  .menu-title {
    font-family: var(--font-gotham);
    font-size: 1em !important;
    color: var(--color-white) !important;
    text-transform: uppercase;
    @apply flex justify-center py-9 sm:py-11;
  }

  .menu-item {
    font-family: var(--font-gotham) !important;
    font-size: 1em !important;
    color: var(--color-white) !important;
    @apply cursor-pointer !px-3 !py-6 my-1 hover:!text-[var(--color-black)] hover:!bg-white active:!text-[var(--color-black)] active:!bg-white;
  }

  .menu-subitem {
    font-family: var(--font-gotham) !important;
    font-size: 1em !important;
    color: var(--color-white) !important;
    @apply flex items-center gap-2 p-3 !my-3 text-muted-foreground rounded-md hover:!text-[var(--color-black)] hover:!bg-white active:!text-[var(--color-black)] active:!bg-white;
  }

  .menu-active {
    @apply !text-[var(--color-black)] bg-white;
  }

  .area-menu-close {
    @apply flex justify-end p-1.5 w-full sm:hidden;
  }

  .menu-close {
    color: var(--color-white) !important;
    @apply px-0 py-2 mb-[-2em] hover:bg-muted !w-full !flex !justify-end;
  }

  .menu-separator {
    @apply !m-0;
  }

  .area-header {
    background-color: var(--color-white);
    @apply flex items-center sticky top-0 z-2 cursor-pointer;
  }

  .header-image {
    @apply w-12 h-12 ml-2 sm:w-16 sm:h-16 sm:ml-10;
  }

  .header-text {
    font-family: var(--font-gotham);
    @apply flex items-center w-full text-[1.25em] sm:text-[1.5em] text-sky-700 ml-3;
  }

  .area-main {
    @apply flex-1 w-full;
  }

  .area-content {
    @apply min-h-[calc(100vh-140px)] sm:min-h-[calc(100vh-156px)] p-5 sm:p-10 text-justify;
  }

  .area-footer {
    /* background-color: var(--color-red); */
    @apply flex justify-center p-5 drop-shadow-[0_1px_5px_rgba(0,0,0,0.2)] bg-white;
  }

  .footer-text {
    /* color: var(--color-white); */
    /* font-size: var(--font-small); */
    font-family: var(--font-gotham);
    @apply text-sm;
  }

  .area-breadcrumb {
    font-family: var(--font-gotham);
    @apply mb-4 flex justify-end text-sm;
  }

  .breadcrumb-separator {
    @apply w-4 h-4 text-muted-foreground mx-1;
  }

  .area-card {
    @apply min-h-[calc(100vh-226px)] sm:min-h-[calc(100vh-276px)];
  }
}
